{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <header class="header" id="header">
        <a href="#home" class="logo" onclick="diffPageLink(event)">Zenith</a>

        <button class="hamburger-button" onclick="toggleMenu()" id="hamburger-button"></button>
        <div class="hamburger-menu" id ="hamburger-menu">
            <a href="#home" onclick="toggleMenu(event)">Home</a>
            <a href="{% url 'shop' %}">Shop</a>
            <a href="#about" onclick="toggleMenu(event)">About</a>
            <a href="#customs" onclick="toggleMenu(event)">Customs</a>
            <a href="#contact" onclick="toggleMenu(event)">Contact</a>
        </div>
        
        <nav class="navbar">
            <a href="#home" onclick="diffPageLink(event)">Home</a>
            <a href="{% url 'shop' %}" onclick="diffPageLink(event)">Shop</a>
            <a href="#about" onclick="diffPageLink(event)">About</a>
            <a href="#customs" onclick="diffPageLink(event)">Customs</a>
            <a href="#contact" onclick="diffPageLink(event)">Contact</a>
        </nav>

    </header>

    <script src="{% static 'js/navbar.js' %}"></script>
    
</body>
</html>